{% extends "menu.html" %}
{% load static %}
{% block title %}Marcas{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/manager.css' %}" />
{% endblock %}
{% block titulo_content %}
    <div class="tituloscont">
        <img class="logop" src="{% static 'img/LH.png' %}" alt="">
        <p class="header__logo">| Marcas</p>
    </div>
{% endblock %}
{% block main_content %}
{% if perms.manager.add_marcas %}
<button id="toggleDropdownPanel"
        class="btn-dropdown"
        data-bs-toggle="modal"
        data-bs-target="#modalregis">
    <i class="bx bx-plus-circle"></i> Agregar
</button>
{% endif %}


        <div class="modal fade"
             id="modalregis"
             tabindex="-1"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Registrar Marcas</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="postregistro" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="nmarca">Nombre de la marca</label>
                                <input type="text"
                                       name="nmarca"
                                       id="nmarca"
                                       class="form-control"
                                       placeholder="Nombre" required>
                            </div>
                            <br>
                            <div class="form-group">
                            <label for="descmarca">Descripción de la marca</label>
                            <textarea name="descmarca" id="descmarca" rows="2" maxlength="100" required class="form-control" placeholder="Descripción"></textarea>
                            </div>
                            <br>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" id="btnregis" class="btn btn classbotones">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade"
             id="modalput"
             tabindex="-1"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Editar Marca</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="putregistro" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="text" id="idmarcaid" hidden>
                            <div class="form-group">
                                <label for="nmarcaedit">Nombre de la marca</label>
                                <input type="text"
                                       name="nmarcaedit"
                                       id="nmarcaedit"
                                       class="form-control"
                                       placeholder="Nombre" required>
                            </div>
                            <br>
                            <div class="form-group">
                            <label for="descmarcaedit">Descripción de la marca</label>
                            <textarea name="descmarcaedit" id="descmarcaedit" rows="2" required maxlength="100" class="form-control"></textarea>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="isActiveedit" class="d-block">
                                    Estado
                                </label>
                                <label class="d-flex align-items-center" for="isActiveedit">
                                    <input type="checkbox" id="isActiveedit" name="isActiveedit" checked class="me-2">
                                    <span id="activeTextedit" class="fw-bold text-success">Activo</span>
                                </label>
                            </div>
                            <br>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" id="btnput" class="btn btn classbotones">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

<div class="tabla-container">
    <table class="tablas-todo" id="tablacont">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for marca in page_obj %}
            <tr data-id="{{ marca.id }}">

                <td>{{ marca.id }}</td>
                <td>{{ marca.nombre }}</td>
                <td>{{ marca.descripcion }}</td>

                <td>
                    {% if marca.is_active %}
                        <span class="estado-circulo estado-activo" title="Activo"></span>
                    {% else %}
                        <span class="estado-circulo estado-inactivo" title="Inactivo"></span>
                    {% endif %}
                </td>
                <td>

                    {% if not marca.is_delete %}

                        <!-- EDITAR -->
                        {% if perms.manager.change_marcas %}
                        <button type="button"
                                class="btn btn-sm btn-primary btn-edit"
                                data-id="{{ marca.id }}"
                                data-bs-toggle="modal"
                                data-bs-target="#modalput">
                            <i class='bx bx-edit'></i>
                        </button>
                        {% endif %}

                        <!-- ELIMINAR -->
                        {% if perms.manager.delete_marcas %}
                        <button type="button"
                                class="btn btn-sm btn-danger btn-delete"
                                data-id="{{ marca.id }}">
                            <i class='bx bx-trash'></i>
                        </button>
                        {% endif %}

                    {% endif %}

                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<nav class="d-flex justify-content-center mt-4">
    <ul class="pagination">

        <!-- ANTERIOR -->
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            {% if page_obj.has_previous %}
                <a class="page-link"
                   href="?page={{ page_obj.previous_page_number }}&search={{ search }}">
                    «
                </a>
            {% else %}
                <span class="page-link">«</span>
            {% endif %}
        </li>

        <!-- PÁGINAS -->
        {% for p in page_obj.paginator.page_range %}
            <li class="page-item {% if p == page_obj.number %}active{% endif %}">
                <a class="page-link"
                   href="?page={{ p }}&search={{ search }}">
                    {{ p }}
                </a>
            </li>
        {% endfor %}

        <!-- SIGUIENTE -->
        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            {% if page_obj.has_next %}
                <a class="page-link"
                   href="?page={{ page_obj.next_page_number }}&search={{ search }}">
                    »
                </a>
            {% else %}
                <span class="page-link">»</span>
            {% endif %}
        </li>

    </ul>
</nav>
        <br>
        <script type="module" src="{% static 'js/gestiones/marcas.js' %}"></script>
        <script type="module" src="{% static 'js/chektext.js' %}"></script>
    {% endblock %}
